In [1]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [2]:

#We import the dataset
df = pd.read_csv(r"c:\Users\PC\Downloads\Titanic-Dataset.csv")

In [3]:
#We create a dataframe
df = pd.DataFrame(df)

In [4]:
df = df.dropna()

In [5]:

#We display the first few rows of the dataframe
print(df.head())

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
10           11         1       3
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
10      1   PP 9549  16.7000    G6        S
11      0    113783  26.5500  C103        S

In [6]:
#Display the shape of the dataframe
print(df.shape)

(183, 12)

In [7]:
#Overview of the dataframe
print("Key aspects")
print(df.describe())
print(df.info())

Key aspects
       PassengerId    Survived      Pclass         Age       SibSp  \
count   183.000000  183.000000  183.000000  183.000000  183.000000
mean    455.366120    0.672131    1.191257   35.674426    0.464481
std     247.052476    0.470725    0.515187   15.643866    0.644159
min       2.000000    0.000000    1.000000    0.920000    0.000000
25%     263.500000    0.000000    1.000000   24.000000    0.000000
50%     457.000000    1.000000    1.000000   36.000000    0.000000
75%     676.000000    1.000000    1.000000   47.500000    1.000000
max     890.000000    1.000000    3.000000   80.000000    3.000000

            Parch        Fare
count  183.000000  183.000000
mean     0.475410   78.682469
std      0.754617   76.347843
min      0.000000    0.000000
25%      0.000000   29.700000
50%      0.000000   57.000000
75%      1.000000   90.000000
max      4.000000  512.329200
<class 'pandas.core.frame.DataFrame'>
Index: 183 entries, 1 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  183 non-null    int64
 1   Survived     183 non-null    int64
 2   Pclass       183 non-null    int64
 3   Name         183 non-null    object
 4   Sex          183 non-null    object
 5   Age          183 non-null    float64
 6   SibSp        183 non-null    int64
 7   Parch        183 non-null    int64
 8   Ticket       183 non-null    object
 9   Fare         183 non-null    float64
 10  Cabin        183 non-null    object
 11  Embarked     183 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 18.6+ KB
None

In [8]:
#Change sex values to 0 and 1

df["Sex"] = df["Sex"].map({"male": 0, "female": 1})

In [9]:
#Use the important columns for the analysis

x=  df.drop(columns=["Ticket","Cabin","Fare","Name","PassengerId","SibSp","Parch","Age","Survived","Embarked"])

y=df["Survived"]

In [10]:

#Divide our train and test data 


x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [11]:
#Training and testing overview

print("Training data")
print(x_train.head())
print("Testing data")
print(x_test.head())

Training data
     Pclass  Sex
539       1    1
742       1    1
512       1    0
445       1    0
516       2    1
Testing data
     Pclass  Sex
218       1    1
879       1    1
92        1    0
627       1    1
496       1    1

In [12]:

#Create an instance of the kNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=2)

In [13]:

# Fit the model with the  training data

knn.fit(x_train,y_train)


obj_predicted = knn.predict(x_test)

In [14]:
print("Results of predictions:")
print(obj_predicted)


print("Accuracy of the model:")
print(accuracy_score(y_test,obj_predicted))

Results of predictions:
[1 1 0 1 1 0 1 0 1 0 0 0 1 0 1 1 1 0 0 0 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 1
 0 0 0 0 1 0 0 1 0]
Accuracy of the model:
0.717391304347826