In [162]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,precision_score

In [163]:
df = pd.read_csv(r"c:\Users\PC\Downloads\users.csv")

dataframe overview

In [164]:
df.head()

,user_id,user_gender,user_age,age_group,country,location,interests
0,a2474,Female,24,18-24,United Kingdom,New Mariomouth,"fitness, health"
1,141e5,Male,21,18-24,Germany,Danielsfort,"food, fitness, lifestyle"
2,34db0,Male,27,25-34,Australia,Vincentchester,"fashion, news"
3,20d08,Female,28,25-34,India,Lisaport,"health, news, finance"
4,9e830,Male,28,25-34,United States,Brownmouth,"health, photography, lifestyle"

dataframe shape

In [165]:
df.shape

(10000, 7)

In [166]:
df.describe()

           user_age
count  10000.000000
mean      27.646900
std        8.311686
min       16.000000
25%       21.000000
50%       26.000000
75%       32.000000
max       65.000000

To perform a realistic prediction of users preferences for certain products, we will select variables like country, age group to discover what kind of campaign would be
 
appropiate to launch.

In [167]:
X = df[['country', 'age_group','user_age']]
y = df["interests"]

X = pd.get_dummies(X)

In [ ]:
fclassifier = DecisionTreeClassifier(random_state=123)

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'random_state': 123,
 'splitter': 'best'}

divide our data into training and testing data

In [169]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

Train the model